<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.BuserMapper">
  <resultMap id="BaseResultMap" type="com.ssm.promotion.core.entity.Buser">
    <!--@mbg.generated-->
    <!--@Table buser-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_Name" jdbcType="VARCHAR" property="userName" />
    <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="USER_PIC" jdbcType="VARCHAR" property="userPic" />
    <result column="PHONE_TOKEN" jdbcType="VARCHAR" property="phoneToken" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="USER_ADDRESS" jdbcType="VARCHAR" property="userAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, USER_Name, USER_PHONE, USER_PWD, USER_PIC, PHONE_TOKEN, REVISION, CREATED_BY, 
    CREATED_TIME, UPDATED_BY, UPDATED_TIME, USER_ADDRESS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from buser
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from buser
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.ssm.promotion.core.entity.Buser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into buser (USER_Name, USER_PHONE, USER_PWD, 
      USER_PIC, PHONE_TOKEN, REVISION, 
      CREATED_BY, CREATED_TIME, UPDATED_BY, 
      UPDATED_TIME, USER_ADDRESS)
    values (#{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},
      #{userPic,jdbcType=VARCHAR}, #{phoneToken,jdbcType=VARCHAR}, #{revision,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{userAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.ssm.promotion.core.entity.Buser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into buser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        USER_Name,
      </if>
      <if test="userPhone != null">
        USER_PHONE,
      </if>
      <if test="userPwd != null">
        USER_PWD,
      </if>
      <if test="userPic != null">
        USER_PIC,
      </if>
      <if test="phoneToken != null">
        PHONE_TOKEN,
      </if>
      <if test="revision != null">
        REVISION,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
      <if test="userAddress != null">
        USER_ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null">
        #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="phoneToken != null">
        #{phoneToken,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.promotion.core.entity.Buser">
    <!--@mbg.generated-->
    update buser
    <set>
      <if test="userName != null">
        USER_Name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null">
        USER_PIC = #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="phoneToken != null">
        PHONE_TOKEN = #{phoneToken,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        REVISION = #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAddress != null">
        USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.promotion.core.entity.Buser">
    <!--@mbg.generated-->
    update buser
    set USER_Name = #{userName,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_PIC = #{userPic,jdbcType=VARCHAR},
      PHONE_TOKEN = #{phoneToken,jdbcType=VARCHAR},
      REVISION = #{revision,jdbcType=INTEGER},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      USER_ADDRESS = #{userAddress,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBuserByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from buser
    where USER_PHONE = #{userPhone,jdbcType=VARCHAR}
  </select>


</mapper>