<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.DevicebindMapper">
    <resultMap id="BaseResultMap" type="com.ssm.promotion.core.entity.Devicebind">
        <!--@mbg.generated-->
        <!--@Table devicebind-->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="DEVICE_ID" jdbcType="VARCHAR" property="deviceId"/>
        <result column="BIND_TIME" jdbcType="TIMESTAMP" property="bindTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, PHONE, DEVICE_ID, BIND_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from devicebind
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from devicebind
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ssm.promotion.core.entity.Devicebind">
        <!--@mbg.generated-->
        insert into devicebind (ID, PHONE, DEVICE_ID,
        BIND_TIME)
        values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR},
        #{bindTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.ssm.promotion.core.entity.Devicebind">
        <!--@mbg.generated-->
        insert into devicebind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="phone != null">
                PHONE,
            </if>
            <if test="deviceId != null">
                DEVICE_ID,
            </if>
            <if test="bindTime != null">
                BIND_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="bindTime != null">
                #{bindTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.promotion.core.entity.Devicebind">
        <!--@mbg.generated-->
        update devicebind
        <set>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="bindTime != null">
                BIND_TIME = #{bindTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.promotion.core.entity.Devicebind">
        <!--@mbg.generated-->
        update devicebind
        set PHONE = #{phone,jdbcType=VARCHAR},
        DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
        BIND_TIME = #{bindTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPhone" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from devicebind
        where PHONE = #{phone,jdbcType=VARCHAR}

    </select>

    <select id="selectByDeviceId" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from devicebind
        where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}

    </select>


    <select id="selectByPhoneAndDevice" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from devicebind
        where PHONE = #{0} and DEVICE_ID=#{1}


    </select>
    <delete id="deletBindDeviceByDeviceIdAndPhone">

        <!--@mbg.generated-->
        delete from devicebind
        where PHONE = #{0} and DEVICE_ID=#{1}

    </delete>


    <delete id="deletBindDeviceAllByDeviceId">
        <!--@mbg.generated-->
        delete from devicebind
        where  DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
    </delete>


    <delete id="deletBindDeviceAllByPhone">
        <!--@mbg.generated-->
        delete from devicebind
        where PHONE = #{phone,jdbcType=VARCHAR}
    </delete>


</mapper>