<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.MqttUserMapper">
  <resultMap id="BaseResultMap" type="com.ssm.promotion.core.entity.MqttUser">
    <!--@mbg.generated-->
    <!--@Table mqtt_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="is_superuser" jdbcType="BOOLEAN" property="isSuperuser" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="isSuperUser" jdbcType="INTEGER" property="issuperuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, salt, is_superuser, created, isSuperUser, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mqtt_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from mqtt_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ssm.promotion.core.entity.MqttUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtt_user (username, `password`, salt, 
      is_superuser, created, isSuperUser, 
      createTime)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{isSuperuser,jdbcType=BOOLEAN}, #{created,jdbcType=TIMESTAMP}, #{issuperuser,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ssm.promotion.core.entity.MqttUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtt_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="isSuperuser != null">
        is_superuser,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="issuperuser != null">
        isSuperUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="isSuperuser != null">
        #{isSuperuser,jdbcType=BOOLEAN},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="issuperuser != null">
        #{issuperuser,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.promotion.core.entity.MqttUser">
    <!--@mbg.generated-->
    update mqtt_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="isSuperuser != null">
        is_superuser = #{isSuperuser,jdbcType=BOOLEAN},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="issuperuser != null">
        isSuperUser = #{issuperuser,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.promotion.core.entity.MqttUser">
    <!--@mbg.generated-->
    update mqtt_user
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      is_superuser = #{isSuperuser,jdbcType=BOOLEAN},
      created = #{created,jdbcType=TIMESTAMP},
      isSuperUser = #{issuperuser,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>