<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.PhonetokenMapper">
  <resultMap id="BaseResultMap" type="com.ssm.promotion.core.entity.Phonetoken">
    <!--@mbg.generated-->
    <!--@Table phonetoken-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="DEVICE_ID" jdbcType="VARCHAR" property="deviceId" />
    <result column="PHONE_TOKEN" jdbcType="VARCHAR" property="phoneToken" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, DEVICE_ID, PHONE_TOKEN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from phonetoken
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from phonetoken
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.promotion.core.entity.Phonetoken">
    <!--@mbg.generated-->
    insert into phonetoken (ID, REVISION, CREATED_BY, 
      CREATED_TIME, UPDATED_BY, UPDATED_TIME, 
      DEVICE_ID, PHONE_TOKEN)
    values (#{id,jdbcType=INTEGER}, #{revision,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{deviceId,jdbcType=VARCHAR}, #{phoneToken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.promotion.core.entity.Phonetoken">
    <!--@mbg.generated-->
    insert into phonetoken
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="revision != null">
        REVISION,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
      <if test="deviceId != null">
        DEVICE_ID,
      </if>
      <if test="phoneToken != null">
        PHONE_TOKEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="phoneToken != null">
        #{phoneToken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.promotion.core.entity.Phonetoken">
    <!--@mbg.generated-->
    update phonetoken
    <set>
      <if test="revision != null">
        REVISION = #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null">
        DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="phoneToken != null">
        PHONE_TOKEN = #{phoneToken,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.promotion.core.entity.Phonetoken">
    <!--@mbg.generated-->
    update phonetoken
    set REVISION = #{revision,jdbcType=INTEGER},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
      PHONE_TOKEN = #{phoneToken,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByDeviceId" resultMap="BaseResultMap">
      <!--@mbg.generated-->
      select
      <include refid="Base_Column_List" />
      from phonetoken
      where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}

    </select>
</mapper>